{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <title>Simplify Recipe</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container" style="margin-top:1rem;">
                <form class="d-flex" method="POST">
                    {% csrf_token %}
                    <input id="url" name="url" class="form-control me-2" type="search" placeholder="Recipe URL" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </nav>
        {% block content %}
        {% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>

def scattered_tags(section):
    result = []
    tags = {'ul':'li','ol':'li','tr':'td'}
    for parent, child in tags.items():
        parent_objs = section.findAll(parent)
        for parent_obj in parent_objs:
            child_objs = parent_obj.findAll(child)
            for child_obj in child_objs:
                content = child_obj.findAll(text=True)
                foo = ' '.join([item.strip() for item in content if item.strip()])
                result.append(foo)
            if result:
                return result
    return result