{% extends 'simplifyRecipe/base.html' %}

{% block content %}
    {% if valid_url %}
        {% if extraction %}
            <div class="container">
                <div class="card px-3 mt-3 shadow-lg">
                    <div class="card-body">
                        <h1>{{ title }}</h1>
                        <h5>Recipe from <a href="{{ url }}">{{ source }}</a></h5>
                        <hr>
                        <h3>Ingredients:</h3>
                        {% for ingredient in ingredients %}
                            <div class="form-check" style="margin-left:0.5rem;">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">{{ ingredient }}</label>
                            </div>
                        {% endfor %}
                        <div class='m-4'></div>
                        <hr>
                        <h3>Instructions:</h3>    
                        <ol style="margin-left:0.5rem;">
                        {% for instruction in instructions %}
                            <li>{{ instruction }}</li>
                        {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>
        {% else %}
            {% include "simplifyRecipe/"|add:modal|add:".html" %}
        {% endif %}
    {% else %}
            <p></p>
        
    {% endif %}
{% endblock %}